

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #142850;
  --color-accent: #00ed64 ;

  /* #00A8CC; #03045e; #001e28 */
  --color-secondary: #001e2b;

}

body{
    font-family: "Poppins", sans-serif;
    background-color:#0e1b36;
    /* color: #023430; */
    color:#e7e7e7;
}

h1,h2,h3,h4,h5,h6, .font-play{
     font-family: "Playfair Display", serif;
}
#root{
  position: relative;
}
.navlink:hover, .navlink.active{
  @apply text-accent;
}



.btn, button, a{
  cursor:pointer;
  transition:all 0.5s ease-in-out;
}
input{
  outline:none;
}

.theme-input{
  @apply w-full p-3 border border-gray-700 bg-[#0e1b36] rounded focus:border-accent outline-none;
}
.theme-select{
  @apply select text-base h-auto w-full p-3 border border-gray-700 bg-[#0e1b36] rounded focus:border-accent outline-none;
}
.accent-shadow{
  box-shadow: 0px 0px 30px -2px rgba(0, 237, 99, 0.21);
}
.card-heading{
  @apply text-2xl text-white mb-2;
}